#Rechner #nums {justify-items: center; width: 74%; margin-top: 70px}
#Rechner div button.a {font-size: 3rem; margin: 5px; border-radius: 100px; padding: 5px; width: 70px; border: 1px solid black; background-color: orange}
#Rechner #operators {width: 26%; position: fixed; right: 10px; bottom: 16px}
#Rechner #operators #gleich {position: fixed; bottom: 16px; right: 149px}
#Rechner button.a:active {background-color: #ac7000}
#Rechner #commands {position: fixed; top: 150px; display: flex;justify-content: right; width: 100%; padding-right: 22px}
#Rechner #commands button {margin-right: 30px; font-size: 3rem; width: 70px}