#Vorstellung h2 {font-size: 2rem; font-weight: lighter; margin: 8px 0 0 43px}
#Vorstellung .text {font-size: 1.5rem; margin: 30px 0 0 100px}
#Vorstellung .text .a {margin-bottom: 50px}
#Vorstellung .text div {font-size: 2rem; display: grid; grid-template-columns: 350px auto; gap: 30px; margin: 50px 0 50px 30px}
#Vorstellung .text .imp {margin-bottom: 10px}