#NavLeiste {background-color: #1e1e1e9d; width: 400px; height: 1000px; border-radius: 0 45px; border-right: 3px solid black; border-top: 2px solid black}
#NavLeiste h2 {font-size: 5rem; justify-self: center; margin-top: 30px}
#NavLeiste .line1 {width: 330px; border-top: 5px solid #999999c5; justify-self: center}
#NavLeiste #Leiste {background-color: #5656569d; justify-self: center; align-self: center; height: 530px; width: 350px; margin-top: 35px; border: 2px solid black;
border-radius: 30px; padding-left: 20px}
#NavLeiste #Leiste h3 {font-size: 3rem; font-style: italic; margin: 35px 0 19px 0}
#NavLeiste #Leiste  a {font-size: 1.4rem; text-decoration: none; margin: 0 0 0 10px; padding: 8px 130px 8px 55px; border-radius: 7px 20px 20px 7px;
transition: background-color 0.4s ease-in-out, border-left 0.38s ease-out, color 0.3s}
#NavLeiste #Leiste a.active {background-color: #2323239d; border-left: 20px solid #e49502e3; color: #ffffffed}
#NavLeiste #Leiste a.unactive {background-color: none; border-left: 0px solid orange; color: #ffffff}
#NavLeiste #Leiste a.unactive:hover {transition: background-color 0.25s ease-in-out; background-color: #3a3a3ac8}